---
import { reverse, sortBy } from "lodash-es";
import Layout from "../../../layouts/Layout.astro";
import { PluginsFilters } from "./PluginsFilters";
import type { Plugin } from "./type";
import { pluginElementId } from "./utils";

const pluginsDataRequest = await fetch(
  "https://raw.githubusercontent.com/gephi/gephi-plugins/refs/heads/gh-pages/plugins/plugins.json",
);

const pluginsData: Plugin[] | null = pluginsDataRequest.ok
  ? reverse(sortBy((await pluginsDataRequest.json()).plugins as Plugin[], (p) => new Date(p.last_update)))
  : null;
---

<Layout pageId="desktop-plugins">
  <header class="banner">
    <section class="container">
      <h1>Gephi plugins</h1>
    </section>
  </header>

  <main class="plugins-main">
    {
      pluginsData === null ? (
        <h2>Sorry plugins data could not be loaded</h2>
      ) : (
        <>
          <PluginsFilters plugins={pluginsData} client:only />

          <section class="plugins-list-container container-fluid">
            <h2 id="plugins-list-total">
              {pluginsData.length || "No"} {pluginsData.length > 1 ? "plugins" : "plugin"}
            </h2>
            <div class="plugins-list row">
              {pluginsData.map((p) => (
                <article
                  id={pluginElementId(p.id)}
                  class={`category-${p.category} ${p.versions ? Object.keys(p.versions).map((v) => `version-${v}`) : ""}`}
                >
                  <a class="card" href={`/desktop/plugins/${p.id}`}>
                    <img
                      alt=""
                      class="card-img-top plugin-image"
                      src={
                        p.images && p.images[0]
                          ? `https://raw.githubusercontent.com/gephi/gephi-plugins/refs/heads/gh-pages/plugins/${p.images[0].image}`
                          : "/plugins/default-screenshot.jpg"
                      }
                    />
                    <div>
                      <small class="plugin-category">{p.category}</small>
                    </div>
                    <h3 class="plugin-name">{p.name}</h3>
                    <p class="plugin-description">{p.short_description}</p>
                    <div class="text-muted">last updated on {p.last_update}</div>
                    <div class="plugin-versions">
                      {Object.keys(p.versions)
                        .reverse()
                        .map((v) => (
                          <span>{v}</span>
                        ))}
                    </div>
                  </a>
                </article>
              ))}
            </div>
          </section>
        </>
      )
    }
  </main>
</Layout>
