---
import LangSwitcher from "../../components/LangSwitcher.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { fromPairs, map, mapValues, toPairs } from "lodash-es";

const BROWSERS = {
  windows64: {
    label: "Windows",
    dlSuffix: "windows-x64.exe",
    icon: "ph:windows-logo-fill",
  },
  windows32: {
    label: "Windows (32 bits)",
    dlSuffix: "windows-x32.exe",
    icon: "ph:windows-logo-fill",
  },
  macSilicon: {
    label: "Mac OS",
    dlSuffix: "macos-aarch64.dmg",
    icon: "ph:apple-logo-fill",
  },
  macIntel: {
    label: "Mac OS (Intel)",
    dlSuffix: "macos-x64.dmg",
    icon: "ph:apple-logo-fill",
  },
  linux: {
    label: "Linux",
    dlSuffix: "linux-x64.tar.gz",
    icon: "ph:linux-logo-fill",
  },
} as const;

type Browser = keyof typeof BROWSERS;

async function getDownloadLinks() {
  try {
    const resp = await fetch("https://api.github.com/repos/gephi/gephi/releases/latest");
    const data = (await resp.json()) as { tag_name: string; assets: { browser_download_url: string }[] };
    const version = data.tag_name.replace(/^v/, "");
    const res = {
      version,
      links: mapValues(
        BROWSERS,
        ({ dlSuffix }) => `https://github.com/gephi/gephi/releases/download/v${version}/gephi-${version}-${dlSuffix}`,
      ) as Partial<Record<Browser, string>>,
    };

    const suffixes = fromPairs(toPairs(BROWSERS).map(([browser, { dlSuffix }]) => [dlSuffix, browser]));
    data.assets.forEach(({ browser_download_url }) => {
      const suffix = (browser_download_url.split("/").at(-1) || "").replace(`gephi-${version}-`, "");
      if (suffixes[suffix]) {
        res.links[suffixes[suffix] as Browser] = browser_download_url;
      }
    });

    return res;
  } catch (e) {
    const version = "1.0.0";
    return {
      version,
      links: mapValues(
        BROWSERS,
        ({ dlSuffix }) => `https://github.com/gephi/gephi/releases/download/v${version}/gephi-${version}-${dlSuffix}`,
      ) as Partial<Record<Browser, string>>,
    };
  }
}

const DOWNLOAD_LINKS = await getDownloadLinks();
---

<Layout>
  <style>
    :root {
      --bs-primary: var(--bs-gephi-desktop-logo);
      --bs-primary-rgb: var(--bs-gephi-desktop-logo-rgb);
      --bs-link-color-rgb: var(--bs-gephi-desktop-logo-rgb);
    }
  </style>
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <div class="row align-items-center">
        <div class="col-7 d-flex flex-column gap-4">
          <div>
            <h1 class="gephi-font">Gephi</h1>
          </div>

          <p class="fs-3">
            Gephi is an <strong>open-source</strong> desktop application to <strong>visually analyze networks</strong>.
          </p>

          <div class="d-flex flex-column align-items-start">
            <a
              href="https://github.com/gephi/gephi/releases"
              id="download-gephi"
              class="btn btn-white fs-4 fw-bold mb-2"
              ><Icon name="ph:download-simple-bold" /> <span class="text">Download Gephi</span></a
            >
            {
              map(
                BROWSERS,
                ({ label, icon }, browser: Browser) =>
                  DOWNLOAD_LINKS.links[browser] && (
                    <a class="text-light" data-browser={browser} href={DOWNLOAD_LINKS.links[browser]}>
                      <Icon name={icon} /> Download for {label}
                    </a>
                  ),
              )
            }
            <a class="text-light" href="https://github.com/gephi/gephi/releases">
              <Icon name="ph:clock-counter-clockwise" /> Download Older Versions
            </a>
          </div>
          <script define:vars={{ DOWNLOAD_LINKS, BROWSERS }}>
            let currentBrowser = "windows64";

            if (navigator.appVersion.indexOf("Win") !== -1) {
              currentBrowser = "windows64";
            } else if (navigator.appVersion.indexOf("Mac") !== -1) {
              currentBrowser = "macSilicon";
            } else if (navigator.userAgent.indexOf("Ubuntu") !== -1) {
              currentBrowser = "linux";
            } else if (navigator.appVersion.indexOf("X11") !== -1) {
              currentBrowser = "linux";
            }

            const link = document.getElementById("download-gephi");
            const linkText = link.querySelector(".text");
            if (DOWNLOAD_LINKS.links[currentBrowser]) {
              link.href = DOWNLOAD_LINKS.links[currentBrowser];
              linkText.innerHTML = `Download Gephi for ${BROWSERS[currentBrowser].label}`;
            }

            const smallLink = document.querySelector(`a[data-browser='${currentBrowser}']`);
            if (smallLink) smallLink.remove();
          </script>
        </div>
        <div class="col-5 text-end">
          <Image
            src="/icons/gephi-desktop-logo-inverted.svg"
            class="mb-3 mb-md-0"
            alt="Gephi logo"
            width="400"
            height="400"
          />
        </div>
      </div>
    </section>
  </header>

  <main class="pt-5">
    <section class="container">
      <LangSwitcher fromPath={Astro.originPathname} />
    </section>

    <section class="container pb-5">
      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:lightbulb" class="text-primary" />
              <span>Gephi Desktop</span>
            </h2>
            <p>
              Started in 2008, <strong>Gephi</strong> is the leading visualization and exploration software for all kinds
              of graphs and networks.
            </p>

            <p>
              <strong>Gephi</strong> is open-source and free under the <a
                href="https://www.gnu.org/licenses/gpl-3.0.fr.html">GPL License</a
              >.
            </p>
            <p>
              It's written in <a href="https://www.java.com">Java</a>, and runs on Windows, Mac OS X and Linux.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="https://placecats.com/millie_neo/300/200" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Some picture with a caption</figcaption>
          </figure>

          <figure class="figure">
            <img src="https://placecats.com/millie_neo/280/200" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">And then some more</figcaption>
          </figure>
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:star" class="text-primary" />
              <span>Features</span>
            </h2>
            <p>
              <strong>Gephi</strong> is a tool for data analysts and scientists keen to <strong
                >explore and understand graphs.</strong
              >
            </p>
            <p>
              Like GIMP but for <strong>graph data</strong>, the user interacts with the representation, manipulate the
              structures, shapes and colors to reveal hidden patterns.
            </p>
            <p>
              The goal is to help data analysts to <strong
                >make hypothesis, intuitively discover patterns, isolate structure singularities</strong
              > or faults during data sourcing. It is a complementary tool to traditional statistics, as <strong
                >visual thinking
              </strong>with interactive interfaces is now recognized to facilitate reasoning.
            </p>
            <p>
              This is a software for <a href="https://en.wikipedia.org/wiki/Exploratory_data_analysis"
                >Exploratory Data Analysis</a
              >, a paradigm appeared in the <strong>Visual Analytics</strong> field of research.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/TFBkAO1MjnU?si=Zkmbg_S2XJHlgtuq"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
            <figcaption class="figure-caption text-muted text-center">A short introduction to Gephi</figcaption>
          </figure>
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:cursor-click" class="text-primary" />
              <span>Real-time visualization</span>
            </h2>
            <p>
              Profit from the fastest <strong>graph visualization engine</strong> to speed-up understanding and pattern discovery
              in large graphs.
            </p>
            <p>
              Powered by its <strong>custom OpenGL engine </strong>, <strong>Gephi</strong> is pushing the envelope on how
              interactive and efficient <strong>network exploration</strong> can be.
            </p>
            <ul>
              <li>Networks up to <strong>100,000 nodes</strong> and <strong>1,000,000 edges</strong></li>
              <li>Iterate through visualization using <strong>dynamic filtering</strong></li>
              <li>Rich tools for meaningful <strong>graph manipulation</strong></li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="/public/desktop/realtime_01.png" class="border figure-img img-fluid" alt="" />
          </figure>

          <figure class="figure">
            <img src="/public/desktop/realtime_02.png" class="border figure-img img-fluid" alt="" />
          </figure>
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:git-fork" class="text-primary" />
              <span>Layout</span>
            </h2>
            <p>
              Layout algorithms give the shape to the graph. <strong>Gephi</strong> provides <strong
                >state-of-the-art network layout algorithms</strong
              >, both for efficiency and quality.
            </p>
            <p>
              <strong>The Layout module</strong> allows user to change layout settings while running, and therefore dramatically
              increase user feedback and experience.
            </p>

            <ul>
              <li>Force-based algorithms</li>
              <li>Optimize for graph readability</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="/public/desktop/layout_01.png" class="border figure-img img-fluid" alt="" />
          </figure>

          <figure class="figure">
            <img src="/public/desktop/layout_02.png" class="border figure-img img-fluid" alt="" />
          </figure>
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:chart-scatter" class="text-primary" />
              <span>Metrics</span>
            </h2>
            <p>
              The statistics and metrics framework offer the most common metrics for <strong
                >social network analysis
              </strong> (SNA) and <strong>scale-free networks</strong>.
            </p>
            <ul>
              <li>Betweenness Centrality, Closeness, Diameter, Clustering Coefficient, PageRank</li>
              <li>Community detection (Modularity)</li>
              <li>Random generators</li>
              <li>Shortest path</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:map-trifold" class="text-primary" />
              <span>Make Cartography</span>
            </h2>
            <p>
              Use ranking or partition data to make meaningful the <strong>network representation</strong>. Customize
              colors, size or labels to bring sense to the network representation.
            </p>
            <p>
              The <strong>vectorial based</strong> preview rendering lets you put the final touch and care about aesthetics
              before explorting in <strong>SVG</strong>, <strong>PNG</strong> or <strong>PDF</strong>.
            </p>
            <ul>
              <li>Customizable export parameters</li>
              <li>Save presets</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:grid-nine" class="text-primary" />
              <span>Data Table and Edition</span>
            </h2>
            <p>
              <strong>Gephi</strong> has its own <strong>Data Laboratory</strong> to manipulate data columns, search and
              transform the data.
            </p>
            <ul>
              <li>Powerful Search/Replace</li>
              <li>Manipulate columns</li>
              <li>Batch-edit, custom column merge and more</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:exclude" class="text-primary" />
              <span>Dynamic Filtering</span>
            </h2>
            <p>
              <strong>Filter the network </strong> to select nodes and/or edges based on the <strong
                >network structure</strong
              > or<strong>data</strong> .
            </p>
            <p>
              Use interactive user interface to filter the network <strong>in real-time</strong>.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:tray-arrow-down" class="text-primary" />
              <span>Input / Output</span>
            </h2>
            <p>
              <strong>Gephi</strong> can read the majority of <strong>graph file formats</strong> but also supports
              <strong>CSV</strong> and <strong>databases</strong> import.
            </p>
            <ul>
              <li>Spreadsheet import wizard</li>
              <li>Database import</li>
              <li>Save/Load project files</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:circles-three-plus" class="text-primary" />
              <span>Extensible</span>
            </h2>
            <p>
              The built-in <strong>Plugins Center</strong> automatically gets the list of plugins available from the
              <strong><a href="/desktop/plugins">Gephi Plugin portal</a></strong> and takes care of all software updates.
            </p><p>
              There are various<strong> community-built</strong> plugins that extends <strong>Gephi's</strong>
              functionalities.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>
    </section>
  </main>
</Layout>
