---
import Layout from "../../layouts/Layout.astro";
import Question from "../../components/faq/Question.astro";
import IconOrImage from "../../components/faq/IconOrImage.astro";

type Question = { question: string; answer: string };
type Group<T> = { label: string; slug: string; children: T[]; icon?: string; image?: string };

const QUESTIONS: Group<Question | Group<Question>>[] = [
  {
    label: "Resources",
    icon: "ph:books",
    slug: "resources",
    children: [
      {
        question: "Where can I find tutorials to learn how to use Gephi?",
        answer: `
<p>While we work on a dedicated page on the website, check these resources:</p>
<ul>
  <li><a href="https://www.martingrandjean.ch/gephi-introduction/">Introduction to Network Analysis and Visualization</a> by Martin Grandjean</li>
  <li><a href="https://seinecle.github.io/gephi-tutorials/">Gephi tutorials</a> by Clément Levallois</li>
</ul>
`,
      },
      {
        question: "Is there a YouTube video tutorials to learn Gephi?",
        answer: `
<p>Check out the following YouTube channels where you can find Gephi tutorials:</p>
<ul>
  <li><a href="https://www.youtube.com/@MartinGrandjean">Videos</a> by Martin Grandjean</li>
  <li>Gephi’s <a href="https://www.youtube.com/@gephi-official/videos">YouTube channel</a></li>
  <li><a href="https://www.youtube.com/watch?v=DMOWhqp6lHQ&list=PL7wfgmADqQfajFq4vcL6S4dTNI5WO-G3K">Video tutorials</a> by Mathieu Jacomy</li>
</ul>
`,
      },
      {
        question: "Where can I find a dataset to practice with Gephi?",
        answer: `
<p>Check out <a href="https://github.com/gephi/gephi/wiki/Datasets">this repository</a> where you can find available datasets.</p>
`,
      },
      {
        question: "Is there a forum or community where I can get technical support for Gephi?",
        answer: `
<p>You have different options, by our order of preference:</p>
<ul>
  <li>The <a href="https://matrix.to/#/!XKyOZNGdXvoRWJbPCL:matrix.org?via=matrix.org&via=osrd.fr">Gephi Community room</a> on Matrix</li>
  <li><a href="https://www.reddit.com/r/Gephi/">r/Gephi</a> on Reddit</li>
  <li>The <a href="https://www.facebook.com/groups/gephi">Gephi Facebook group</a></li>
</ul>

<p>Furthermore, you can browse the <a href="https://github.com/gephi/gephi/issues">bugs list</a> for similar issues, and submit a new bug report on <a href="https://github.com/gephi/gephi/issues/new/choose">GitHub</a></p>.
`,
      },
    ],
  },
  {
    label: "About Gephi",
    image: "/icons/gephi-desktop-logo.svg",
    slug: "about-gephi",
    children: [
      {
        question: "Should I use Gephi or Gephi Lite?",
        answer: `
<p>If you are a beginner, if you just want to take a quick look at Gephi, or if you can’t (or don’t want to) install an application on your computer, use Gephi Lite. It runs in any recent browser.</p>
<p>If you are comfortable with network analysis, or if you need to analyze large networks (more than 10,000 nodes), then install the desktop version of Gephi.</p>
`,
      },
      {
        question: "Is there an official Gephi course I can take to get certified?",
        answer: `
<p>There are currently no official Gephi courses available that offer certification.</p>
`,
      },
      {
        question: "I am going to publish my research where I used Gephi, how should I cite it?",
        answer: `
<p>Please cite <cite><a href="https://gephi.org/publications/gephi-bastian-feb09.pdf">this reference</a></cite>:</p>
<blockquote>
  Bastian M., Heymann S., Jacomy M. (2009). Gephi: an open source software for exploring and manipulating networks. International AAAI Conference on Weblogs and Social Media. From AAAI
</blockquote>
`,
      },
      {
        question: "Which operating systems does Gephi support?",
        answer: `
<p>Gephi supports multiple operating systems. You can download the latest version for Mac OS (both Intel and Silicon), Windows, and Linux. Older versions are also available for download if needed. For Linux users, Gephi can additionally be found on Snapcraft and FlatHub.</p>
`,
      },
      {
        question: "How can I support Gephi?",
        answer: `
<p>Gephi is free software developed by a <a href="/about#team">small community of volunteers</a>. You can contribute to <a href="https://github.com/gephi/gephi">its development</a> or <a href="https://opencollective.com/gephi/donate">make a donation</a>.</p>
`,
      },
      {
        question: "Why is Gephi called “Gephi”?",
        answer: `
<p>It comes from French. “Ge-” refers to the letter G (pronounced “jay” or “gé” in French) which stands for “graphs”, and “-phi” refers to the Greek letter (ϕ) which stands for “filters”. It alludes to the initial intent to provide interactive graphs along with filters. That is why the logo is a G intertwined with a ϕ.</p>
`,
      },
      {
        question: "How do I pronounce “Gephi”?",
        answer: `
<p>With a hard G as in "girl"; at least in English. The French pronounce it with a soft G as in "joke" (as always before the letter E). The English-speaking community discovered Gephi through mostly written documentation, not knowing its French authors would pronounce it with a soft G. The hard G pronunciation became dominant for no particular reason.</p>
`,
      },
    ],
  },
  {
    label: "Technical",
    icon: "ph:pencil-ruler",
    slug: "technical",
    children: [
      {
        label: "General",
        slug: "general",
        children: [
          {
            question: "In which format should I import my files into Gephi?",
            answer: `
<p>Gephi can import a variety of standard graph file formats. These include GEXF, GDF, GML, GraphML, Pajek NET, GraphViz DOT, CSV, UCINET DL, Tulip TPL, Netdraw VNA, and Spreadsheet formats.</p>
<p>Note that there are two different ways to import CSV files: from the “import” menu if it contains nodes and edges at the same time (and no attributes); and from the Data Laboratory as two CSV, one for the node, and one for the edges (both with attributes). You can read more about this topic in <a href="https://gephi.wordpress.com/2017/09/26/gephi-0-9-2-a-new-csv-importer/">this blog post.</a></p>
`,
          },
          {
            question: "How do I create dynamic networks?",
            answer: `
<p>To create dynamic networks, check out these links:</p>
<ul>
<li><a href="https://docs.gephi.org/User_Manual/Import_Dynamic_Data/">Our documentation</a></li>
<li><a href="https://seinecle.github.io/gephi-tutorials/generated-html/converting-a-network-with-dates-into-dynamic.html">Clément Levallois’ tutorial</a></li>
</ul>
`,
          },
          {
            question: "Is there a button or function to undo an action?",
            answer: `
<p>Currently, this feature isn’t available.</p>
<p>This is the most requested feature. It’s not implemented yet because it is genuinely hard to do, not because we don’t think it is useful. We know that it would be great to have, and it is on our road map.</p>
`,
          },
        ],
      },
      {
        label: "Data Laboratory",
        slug: "data-laboratory",
        children: [
          {
            question:
              "I uploaded my file to Gephi, but I can't find some of the original columns from my file in the Data Laboratory.",
            answer: `
<p>Go to the <i>Data Laboratory</i>, locate the eye-shaped icon in the upper right area (on older versions, a light bulb) and click on it. A list of the column names from your file will appear.</p>
<p><img class="img-fluid" src="/faq/data-lab-columns.png" alt=""></p>
<p>You will see that some are active and others are not. In this window, you can activate the columns you want to display in your data laboratory. You can also deactivate those that are not necessary to make exploring your columns easier. You cannot display too many columns at the same time.</p>
`,
          },
          {
            question: "How do I import my data from a spreadsheet into Gephi?",
            answer: `
<p>To import data from a spreadsheet into Gephi, check out <a href="https://github.com/gephi/gephi/wiki/Import-CSV-Data">this tutorial</a>.</p>
`,
          },
          {
            question: "Where is the “Degree” column?",
            answer: `
<p>The node degree (i.e., the number of edges) is calculated dynamically, and is not like the other attributes. It is not written in the data, and therefore is not displayed in the Data Laboratory.</p>
`,
          },
          {
            question: "Why are there two “Degree” attributes? And why do I see only one in the Data Laboratory?",
            answer: `
<p>Although the degree is computed dynamically by Gephi and appears in various places like the <i>Appearance</i> panel, you can compute it once and for all from the Statistics panel. This will create a new node attribute.</p>
<p>The new attribute will appear as a column in the Data Laboratory, while the dynamically computed degree will not.</p>
<p>In the <i>Appearance</i> panel and a few other places, both the dynamically computed degree and the node attribute will appear, and they are named the same.</p>
<p>If you remove an edge or change the network in other ways, the dynamic degree will adjust accordingly, but not the node attribute. There is a risk of making mistakes, but you can take advantage of it in various situations.</p>
`,
          },
        ],
      },
      {
        label: "Overview",
        slug: "overview",
        children: [
          {
            question: "How to use the filters? Are there tutorials?",
            answer: `
<p>Check out the following links:</p>
<ul>
  <li><a href="https://seinecle.github.io/gephi-tutorials/generated-html/using-filters-en.html">Clément Levallois’ tutorial</a></li>
  <li><a href="https://www.youtube.com/watch?v=0R86bJVxMrA">Tony Hirst’s tutorial</a></li>
</ul> 
`,
          },
          {
            question: "My graph disappeared! How do I get it back?",
            answer: `
<p>You probably closed the “Graph” panel by accident. In the “Windows” top menu, select “Reset Windows” to return to the default panel configuration.</p>
`,
          },
          {
            question: "My nodes’ labels don’t reflect the column I want to display. How can I change it?",
            answer: `
<p>Once you have opened your network in the <i>Overview</i> tab, go to the lower section and expand all the settings by clicking the small arrow on the right-hand side.</p>
<p><img class="img-fluid" src="/faq/overview-more-settings.png" alt=""></p>
<p>You will see three tabs: Global, Edges, and Labels. Activate the last one (Labels) and click on the <i>Configure</i>... option. A window will appear where you should select the Nodes tab. Finally, choose the attribute you want to display as a label on the nodes.</p>
`,
          },
          {
            question: "In the Statistics section, I can’t find the option to run the Betweenness Centrality metric!",
            answer: `
<p>To run the <i>Betweenness Centrality</i> measure in Gephi, click on the Network Diameter option, where you will be able to run <i>Betweenness Centrality</i> and other centrality measures.</p>
`,
          },
          {
            question:
              "Why are some communities in my network not getting colored when I apply the Modularity Class in the Appearance section?",
            answer: `
<p>Because only the top 8 categories get a color by default, while the others get painted gray. But you can change that setting.</p>
<p>Once you have applied <i>Nodes > Partition > Modularity Class</i>, click on the <i>Palette…</i> option. A window will appear. Deselect the <i>Limit number</i> of colors option (which is set to 8 by default), then click <i>Generate > OK</i>. This will color all the communities in your network.</p>
<p>The rationale behind that design choice is that the human eye cannot efficiently discriminate that many colors; but it is sometimes useful to break that rule.</p>
`,
          },
          {
            question:
              "I have located a node of interest in the Overview section. How can I find it in the Data Laboratory?",
            answer: `
<p>In the Overview section, right-click on the node of interest and choose <i>Select in Data Laboratory</i>. Then, in the Data Laboratory, the corresponding row will be highlighted.</p>
`,
          },
          {
            question: "Why aren't the panels/windows displayed as in the tutorials?",
            answer: `
<p>Gephi's interface lets you move, resize, open or close the small windows containing the various tools. You may have closed one by mistake. In the “Windows” top menu, select “Reset Windows” to return to the default configuration.</p>
`,
          },
          {
            question:
              "How can I keep the values I have obtained from a first calculation (e.g. metrics or modularity) if I want to run a new calculation following a modification/filter, etc.?",
            answer: `
<p>If you run a calculation twice, for example for degree of centrality, the new values will replace the previous ones in the relevant column. Before launching the new calculation, you should therefore duplicate the column in the Data Laboratory and give it a new name (e.g. “Degree v1”) so that Gephi doesn't overwrite these values.</p>
`,
          },
        ],
      },
      {
        label: "Preview",
        slug: "preview",
        children: [
          {
            question: "Why aren’t the labels of my network displayed in the Preview section?",
            answer: `
<p>To display the labels of your nodes in the <i>Preview</i> section, click on <i>Preview Settings</i>, then go to the <i>Node Labels</i> section and activate the <i>Show Labels</i> option. Finally, click the <i>Refresh</i> button.</p>
`,
          },
          {
            question:
              "In the Preview section, the node labels appear below the nodes. How can I move them so they are displayed above the nodes?",
            answer: `
<p>To make the labels appear above the nodes, go to the <i>Preview</i> section and click on the <i>Preview Settings</i> tab. Then select the <i>Manage Renderings</i> tab, locate the <i>Default Node Labels</i> option, and use the <i>upward arrow</i> to move it to the top position. This will ensure that the node labels are displayed above the nodes.</p>
`,
          },
          {
            question: "How can I improve the resolution of my network when I download it in PNG format?",
            answer: `
<p>When you click on the Export <i>SVG/PDF/PNG</i> option, a window will appear to save your network in PNG format. Assign a name to your file, but before clicking <i>Save</i>, click on <i>Options…</i> (a button located in the same window). Here, you can increase the image resolution by adjusting the pixel values, which will improve the quality of your image.</p>
`,
          },
          {
            question: "I want to be able to edit my network after export. What format should I use?",
            answer: `
<p>SVG is a vector-based (non-pixelated) format that lets you modify all the objects in the image created by Gephi. It can be opened in a browser, but more importantly, it can be modified with vector graphics software such as Adobe Illustrator or <a href="https://inkscape.org/">Inkscape</a> (free and open-source). This allows you, for example, to add a caption, highlight nodes or add a background map behind your geo-spatialized network.
</p>
`,
          },
          {
            question: "Why is my network in the Preview showing large colored areas behind the nodes?",
            answer: `
<p>This can happen if the size of the edges is set incorrectly and their arrows appear gigantic. In “Edges”, change the “Thickness” or select “Rescale weight”. If you don't want to touch the edges, you can also simply change the size of the arrows themselves (down to 0 to remove them completely) in “Edge Arrows”.</p>
`,
          },
        ],
      },
    ],
  },
];
---

<Layout class="faq-page">
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <h1>Frequently Asked Questions</h1>
      <p class="fs-5 mb-1">
        The questions list has been curated by <a href="https://www.veronicaespinoza.org/" class="fw-bold text-white"
          >Dr. Verónica Espinoza</a
        > and <a href="https://www.martingrandjean.ch/" class="fw-bold text-white">Martin Grandjean</a>.
      </p>
      <p class="fs-5">
        Missing questions can be suggested by <a
          href="https://github.com/gephi/gephi.github.io/issues/new"
          class="text-white">opening a ticket</a
        > in the website's GitHub repository.
      </p>
    </section>
  </header>

  <main class="container py-5">
    <section class="row mt-5 justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        {
          QUESTIONS.map((group) => (
            <section>
              <h2 class="mb-4" id={group.slug}>
                <IconOrImage icon={group.icon} image={group.image} />
                {group.label}
              </h2>
              <div class="row mb-5">
                {group.children.map((child, i) =>
                  "label" in child ? (
                    <section>
                      <h3 class="mb-3" id={`${group.slug}-${child.slug}`}>
                        <IconOrImage icon={child.icon} image={child.image} />
                        {child.label}
                      </h3>
                      <div class="row mb-5">
                        {child.children.map(({ question, answer }, j) => (
                          <Question id={`${group.slug}-${child.slug}-${j + 1}`} question={question} answer={answer} />
                        ))}
                      </div>
                    </section>
                  ) : (
                    <Question id={`${group.slug}-${i + 1}`} question={child.question} answer={child.answer} />
                  ),
                )}
              </div>
            </section>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
